.section3 {
    margin-top: 50px;
}

.projetos{
    display: inline-flex;
    align-items: center;
    margin-top: 25px;
    margin-left: 150px;
}

.projetos img{
    width: 50rem;
    margin-right: 100px;
    border: 3px solid black;;
    border-radius: 10px;
}

.projetos .buttonDemo{
    display: inline-flex;
    background-color: #2a2e30;
    box-shadow: 5px 5px 0 black;
    padding: 18px 20px;
    margin-right: 0;
    cursor: pointer;
    transition: transform 100ms linear;
    margin-top: 50px;
}


.projetos .buttonReposi{
    display: inline-flex;
    background-color: #2a2e30;
    box-shadow: 5px 5px 0 black;
    padding: 18px 20px;
    margin-top: 50px;
    margin-right: 0;
    cursor: pointer;
    transition: transform 100ms linear;
}

.projetos .right{
    display: flex;
    flex-direction: column;

  }